#root{
  max-height: 100vh;
}

.header {
    max-width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero {
  position: relative;
  text-align: center;
}

.search {
  position: absolute;
  top: 15%;
  left: 31%;
  max-width: 70%;
  background-color: white;
  color: black;
  border-radius: 10px;
  border: none;
}


.searchBar {
  width: 500px;
  height: 40px;
  border-radius: 10px;
  border: none;

}

.output{
  position: relative;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 70%;
  border: 2px solid;
  border-radius: 10px;
  background-color: white;
  color: black;
  z-index: 1;
}

.propHeader {
  color: gray
}

.leaflet-container{
  height: 80vh;
  bottom: 120px;
  z-index: -1;
}