.App{
  max-height: 100vh;
  max-width: 100vw;
}

.header {
    max-width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero {
  position: relative;
  text-align: center;
  max-width: 100vw;
}

@media only screen and (max-width: 600px) {
  .hero img {
    max-width: 100vw;
    height: 250px;
  }
}

.search {
  position: relative;
  transform: translate(90%, -350%);
  width: 500px;
  background-color: white;
  color: black;
  border-radius: 10px;
  border: none;
}
.form {
  height: 40px;
  border-radius: 10px;
  border: none;
}
.searchBar {
  width: 500px;
  height: 40px;
  border-radius: 10px;
  border: none;
}

@media only screen and (max-width: 600px) {
  .search {
    transform: translate(20%, -350%);
    width: 250px;
  }
}
@media only screen and (max-width: 600px) {
  .searchBar {
    width: 250px;
  }
}

#ipButton{
  position: relative;
  height: 43px;
  transform: translate(540%, -100%);
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  #ipButton {
    transform: translate(230%, -100%);
  }
}



@media only screen and (max-width: 600px) {
  .searchBar {
   width: 250px;
  }
}

.info{
  margin-left: 30px;
}
@media only screen and (max-width: 600px) {
  .info {
   width: 20px;
   font-size: smaller;
   margin-left: 0px;
  }
}

.output{
  position: relative;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 70%;
  height: 150px;
  border: 2px solid;
  border-radius: 10px;
  background-color: white;
  color: black;
  z-index: 1;
}

@media only screen and (max-width: 600px) {
  .output {
    max-width: 60%;
    top: 10%;
    left: 20%;
    transform: translate(-20%, -50%);
  }
}

.propHeader {
  color: gray
}

.leaflet-container{
  height: 70vh;
  bottom: 200px;
  z-index: -1;
  max-width: 100vw;
}