/* body{
  background-color: blue;
} */

.header {
    max-width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero {
  position: relative;
  text-align: center;
}

.search {
  position: relative;
  top: 50%;
  max-width: 70%;
  background-color: white;
  color: black;
}

.output{
  position: relative;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 70%;
  border: 2px solid;
  border-radius: 10px;
  background-color: white;
  color: black;
}

.propHeader {
  color: gray
}